.post-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.post-list-header {
  width: 90rem;
  background-color: #F5F5F5;
  border-top: 2px solid #333;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-list-header .post-list-item-content {
  width: 75rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.post-list-header .post-list-item-title {
  width: 24rem;
  flex-shrink: 0;
  padding-left: 0.5rem;
}

.post-list-header .post-list-item-title h2 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #333;
  margin: 0;
}

.post-list-header .post-list-item-infos {
  display: flex;
  width: 24rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  flex-shrink: 0;
}

.post-list-header .post-list-item-infos span {
  width: 4.875rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-size: 1rem;
}
