/*글상단*/
.post-header {
    display: flex;
    height: 3.3125rem;
    padding: 0.9375rem 7.5rem;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
    align-self: stretch;
    background: #D9D9D9;
}
/*글상단-Frame11*/
.post-header-title {
    display: flex;
    width: 75rem;
    justify-content: space-between;
    align-items: center;
}
/*글상단-Frame11-글제목*/
.post-header-title h1 {
    width: 4.875rem;
    height: 1.5rem;
    flex-shrink: 0;

    color: #888;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*글상단-Frame11-Frame10*/
.post-header-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
/*글상단-Frame11-Frame10-글짜*/
.post-header-infos span {
    width: 4.875rem;
    flex-shrink: 0;
    color: #888;
    text-align: center;
    
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*frame23*/
.post-list{
    display: flex;
    padding: 0 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}