.footer-container {
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the inner box vertically if needed, or remove if top align */
    background: #EEE;
    padding: 0;
}

.footer-inner {
    width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Left align text */
    gap: 0.75rem;
    padding: 0 1.25rem;
    /* Match Header's inner padding */
}

.footer-text {
    color: #7B7979;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}