.footer-container {
    display: flex;
    width: 90rem;
    height: 12.5rem;
    padding: 0.9375rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex-shrink: 0;
    background: #EEE;
}

.footer-text {
    color: #7B7979;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}