/*페이지네이션고정박스*/
.paginationbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}
/*페이지네이션고정박스-페이지네이션*/
.paginationbox-pagenation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}